.home-button{
  margin-right: 20px;
}


// .profile{
//   height: 400px;
//   width: 300px;
// }

.pepino-logo{
  height:30px;
  width:10px;
  border-radius: 5px;
  border: 1px solid green;
  transform: rotate(30deg);

}

.header{
  nav.link-list{
    min-height: 0;
  }
}

.package-index{
  .card{
    .control{
      display: flex;
    }
    .buttons.is-fullwidth{

      .button{
        width:50%;
      }
    }
    .card-header{
      padding-right:10px;
      padding-left:10px;
    }
    .card-image{
      height: 40px;
      width: 30px;
      .image{
        height:100%;
      }
    }
  }
}
