@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import "vars";
@import "cards";

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $green: #00d1b2;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
//
// // Update Bulma's global variables
// $family-sans-serif: "Lato", sans-serif;
// // $grey-dark: #446;
// // $grey-light: #ddf;
// // $primary: darken($blue, 20%);
//
// $light-grey: #B8B89F;
// $grey: #52656B;
// $yellow: #CDFF00;
// $red: #FF3B77;
// $blue: #209cee;
// $white: #FFFFFF;
//
// $info: $blue;
// $succes: $green;
// $warning: $yellow;
// $danger: darken($red, 20%);
//
// $primary: $red;
// $link: $yellow;
// // $widescreen-enabled: false;
// // $fullhd-enabled: false;
//
// // Update some of Bulma's component variables
// $body-background-color: lighten($grey, 50%);
// // $control-border-width: 2px;
// // $input-border-color: transparent;
// // $input-shadow: none;
// $navbar-background-color: $primary;
// $navbar-item-color: black;
// $navbar-item-hover-color: black;
// $navbar-item-active-color: black;
// // $navbar-item-background-color: darken($navbar-background-color, 20%);
// // $footer-background-color: $primary;
// // $navbar-item-active-background-color: $primary;
//
// // $navbar-dropdown-item-active-background-color: $primary;
// //
// // $navbar-item-img-max-height: 2em;
// $navbar-breakpoint: 600px;

// Import only what you need from Bulma
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/form.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/elements/tag.sass";
// @import "../../node_modules/bulma/sass/elements/image.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/components/card.sass";
// @import "../../node_modules/bulma/sass/components/level.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";
// @import "../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/bulma.sass";










.is-skew,
label.is-skew,
input.is-skew,
button.is-skew,
.tag
{
  transform: skew(-10deg);
  // padding-left: 8px;
  border-radius: $border-radius;
}
label.label.is-skew{
  background: $primary;
    color: white;
    padding-left: 8px;
}
a.navbar-item.is-skew,
.navbar.link-list.is-skew{
  // backface-visibility: hidden;
  // font-family: sans-serif;
  font-weight: 700;
  border-radius: 0px;
  border-left: 1px solid $grey;
  &:last-child{
    border-right: 1px solid $grey;
  }
}

button:disabled{
  cursor: default;
}


img, .card, .column{
  border-radius: $border-radius;
}



.tabs li.is-active a {
    border-bottom-color: #CDFF00;
    color: black;
}


.home-button{
  margin-right: 20px;
}


textarea.hidden-input:focus,
input.hidden-input:focus{
  background-color: white!important;
  box-shadow: none;
}
.hidden-input{
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.title.hidden-input{
  // margin-bottom: 0;
  // padding-bottom: 0;
  // text-align: center;
}
//
.hidden-input{
  // border: none;
  background-color: white;
  text-align: center;
  padding:0.625rem;
  border-radius: $border-radius;
  // box-shadow: none;
  &:focus{
    border: 1px solid black;
  }
//
}
// .hidden-input[readOnly] {
//   border: none;
//   background-color: white;
//   box-shadow: none;
//   color: black;
// }

.pepino-logo{
  height:30px;
  width:5px;
  border-radius: 5px;
  border: 1px solid $link;
  background-color: lighten($link, 20%);
  box-shadow: 0px 0px 10px $link;
  transform: rotate(30deg);
  // margin:20px;

}

.laser-blade, .blurb{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$white;
  background-color: $blue;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: $border-radius;
  .title{
    position: relative;
    z-index: 1;
  }
  .pepino-logo{
    position: relative;
    z-index: 0;
    transform: translateX(100px);
    transform-origin: 0% 100%;
    animation: move 10s infinite;
    margin: 0 50px;
    height: 100px;
  }
}

@keyframes move{
  0%{transform: translateX(100px) rotate(0deg);}
  5%{transform: translateX(200px) rotate(20deg);}
  15%{transform: translateX(300px) rotate(-20deg);}
  25%{transform: translateX(200px) rotate(-60deg);}
  40%{transform: translateX(400px) rotate(10deg);}
  45%{transform: translateX(200px) rotate(30deg);}
  60%{transform: translateX(10px) rotate(60deg);}
  70%{transform: translateX(200px) rotate(-20deg);}
  75%{transform: translateX(400px) rotate(30deg);}
  80%{transform: translateX(300px) rotate(-30deg);}
  90%{transform: translateX(200px) rotate(-40deg);}
  100%{transform: translateX(100px) rotate(0deg);}
}
// .laser-blade{
//   animation: move 10s infinite;
// }

.header{
  transition: all 1s;
  nav.link-list{
    min-height: 0;
  }
}





hr.project {
  margin-top: 0px;
}

.project .no-package{
  text-align: center;
}

.project {
  textarea::placeholder {
    text-align: center;
  }
  textarea {
    resize: none;
    text-align: center;
  }
  .title {
    padding-left: 5px;
  }
  .box {
    margin-top: 5px;
    .title {
      text-align: center;
    }
    .none {
      text-align: center;
    }
  }

  .user {
    display: flex;
    margin: 0 auto;
    img {
      margin-left: 20px;
    }
  }

  .projectUsername {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.projectCard {
  height:100%;
  .card-content {
    padding-bottom: 10px;

  }

  hr {
    margin-bottom: 10px;
  }

  .description {
    height: 169px;
  }

  .is-small {
    font-size: small;
  }

  a {
    color: black;
  }
}




section.visible {
  padding-left: 175px;
  padding-top: 12px;
  span {
    padding: 5px;
  }
  strong {
    margin-right: 10px;
  }
}

.columns.scroll{
  overflow: scroll;
  scroll-snap-type: x mandatory;
  .column{
    scroll-snap-align: end;
    height:91vh;

    // height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    .card{
      margin-bottom: 10px;
      // scroll-snap-align: center;
      scroll-padding: 10px;

    }
  }
}
.search-bar{
  padding-bottom: 20px;
}

a {
  color: black;
}
.glow{
  background-color: lighten($link, 30%);
  box-shadow: 0px 0px 20px lighten($link, 40%);
}
.card{
  // transition: all 1s;
  // border-radius: 2px 2px 0 0;
  &.is-fullheight{
    min-height: 100%;
  }
  &.package-index-card{
    margin: 8px;
  }
}
.tabs.is-boxed{
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    border-radius: 0;
    border: none;
    flex-grow: 1;
    background-color: $light-grey;
    a{
      border-radius: 0;
      border: none;
    }
    &.is-active{
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      background-color: white;

    }
    &:first-child{
      border-radius: 2px 0 0 0;
      border-left: 0;
    }
    &:last-child{
      border-right: 0;
      border-radius: 0 2px 0 0;
    }

  }
}

.section{
  padding: 1em ;
}

.comment-image{
  overflow: hidden;
  height: 50px;
  width:50px;
  border-radius: 25px;
    .image {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
  }
.package-show-image{
  margin: 0 auto;
  overflow: hidden;
  height: 200px;
  width:200px;
  border-radius: 25px;
    .image {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
  }


#package-show{
  .card{
    .tabs.is-boxed{
      margin-bottom: 0;
    }
  }
}
.comment-input{
  border-radius: 2px;
  border: 1px solid rgba(10, 10, 10, 0.1);
  margin-bottom: 8px;
  .textarea-control{
    width: 100%;
  }
  .button{
    height:100%;
  }
  textarea{
    height: 4em;
    min-height: 36px;
    resize: none;
    border-radius: 2px 0 0 2px;
    border: 0;
    box-shadow: none;
  }
  button{
    border-radius: 0 2px 2px 0;

  }
}

.search-bar{
  width:100%;
  .field.has-addons{

    .control.field{
      width:100%;
    }
  }
}

.tags:not(:last-child) {
    margin-bottom: 0rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.usersearch-result {
    .image.profile, .user-card-image{
      height: 100px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: red;
    }
    .card-content{
      height: 200px;
    }
}
.field{
  .profileImage{
    height: 300px;
    img{
      height: 280px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .profileBio{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


.authorisation{
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #FFFFFF;

  height: 500px;

}
.username{
  margin-left: 8px;
}
.user-card-image, {
  // height:100%;
  // width:100%;
  overflow:hidden;
  .image{
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
  }
}
p.is-fullwidth{
  width:100%;
}
.card-content{
  padding:0.5em;
}

.tag.is-half{
  overflow: hidden;
      white-space: nowrap;
      width: 50%;
      text-overflow: ellipsis;
  // width:50%;
}
.control.is-fullwidth{
  width:100%;
}
blockquote.description{
  overflow: scroll;
}

.navbar-dropdown.dropdown-right {
  // left: calc(-100% + 4px);
 }

.navbar-menu{
  padding-right: 20px;
}

.homeText{
  margin-bottom: 10px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	opacity: 1;
  animation: fadeInOpacity 2s;
}
